@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/theming';

@include mat-core();

$custom-theme-primary: mat-palette($mat-grey, 800);
$custom-theme-accent: mat-palette($mat-red, A200);
$custom-theme-warn: mat-palette($mat-red, A200);

$custom-theme: mat-light-theme(
    $custom-theme-primary,
    $custom-theme-accent,
    $custom-theme-warn
);

@include angular-material-theme($custom-theme);

$custom-typography: mat-typography-config(
  $font-family: 'comfortaa, cursive',
  $headline: mat-typography-level(18px, 18px, 700),
  $title: mat-typography-level(24px, 26px, 800),
  $body-1: mat-typography-level(14px, 20px, 500),
  $body-2: mat-typography-level(14px, 20px, 800),
  $input: mat-typography-level(14px, 1.125, 400)
);
@include angular-material-typography($custom-typography);

mat-hint {
  font-size: 12px;
}

h3 {
  @include mat-typography-level-to-styles($custom-typography, title);
}
